* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 900px;
}

.left-column {
  width: 100px;
  padding-right: 5px;
}

.center-column {
  width: 350px;
  padding: 0 10px;
  text-align: center;
}

.right-column {
  width: 200px;
  padding-left: 5px;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ddd;
  background-color: #fff;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options-container button {
  padding: 10px;
  background-color: #3C9F40;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.options-container button:hover {
  background-color: #45a049;
}

table {
  width: 120%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td.green {
  color: green;
}

td.red {
  color: red;
}

td.score {
  text-align: center;
  font-weight: bold;
}

td.answer {
  width: 60%; /* Wider column for correct answers */
  font-size: 12px; /* Reduced font size for fitting long answers */
}
